<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posição Motor CC</title>
</head>
<body>
    <h1>Envie a posição para o motor</h1>
    <form action="/submit" method="POST">
        <label for="name">Digite o um inteiro entre 4500 e -4500:


        </label>
        <input type="int" id="name" name="name"  placeholder="Digite a posição (entre 4500 e -4500)" required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
